<!DOCTYPE html>
<html>
  <head>
    <title>The Cat Factory</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
  </head>

  <body>
    <%= javascript_pack_tag 'application' %>
    <%= react_component('App') %>
  </body>
</html>
